/*App 바로밑에 있는 section 태그*/
body {
  padding: 20px;
}

.App {
  /* top, bot margin 0 ,
   * 좌우 margin auto... 수평 중앙배치 **/
  margin: 0 auto;
  width: 400px;
}

.App > section {
  background-color: rgb(245, 245, 245);
  border: 1px solid rgb(240, 240, 240);
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 10px;
}
